<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="width: 1440px; height: 1024px; position: relative; background: white">
    <div style="width: 1440px; height: 95px; left: 0px; top: 0px; position: absolute; background: #5A9CFF"></div>
    <div style="padding: 10px; left: 1269px; top: 24px; position: absolute; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div style="color: white; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Logout<br/></div>
    </div>
    <div style="width: 1242px; height: 73px; left: 105px; top: 250px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 1242px; height: 73px; left: 105px; top: 815px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 1242px; height: 73px; left: 105px; top: 702px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 1242px; height: 73px; left: 105px; top: 589px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 1242px; height: 73px; left: 105px; top: 476px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 1242px; height: 73px; left: 105px; top: 363px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 269px; height: 53px; left: 33px; top: 32px; position: absolute; color: white; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Welcome, Saket Lad<br/></div>
    <div style="width: 269px; height: 53px; left: 124px; top: 270px; position: absolute; color: white; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Microcontroller</div>
    <img style="width: 52px; height: 57px; left: 1279px; top: 257px; position: absolute" src="https://via.placeholder.com/52x57" />
</div>

</body>
</html>